.hero {
  height: 400px;
  background: url("https://images.unsplash.com/photo-1505693416388-ac5ce068fe85")
    center/cover no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 55px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
}


.section-title {
  text-align: center;
  font-size: 32px;
  margin: 40px 0;
}
.search-box {
  width: 500px;
  max-width: 90%;
  margin: 20px auto;

  background: white;
  padding: 15px 25px;

  border-radius: 50px;

  box-shadow: 0 4px 20px rgba(0,0,0,.15);
}